@import 'colors';

body {
	background-color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto', sans-serif;
	color: @cyan500;
}

#report-frame {
	position: relative;
	margin: 32px auto;
	max-width: 800px;
	min-width: 260px;
}

.user-avatar {
	border-radius: 50%;
	border: 3px solid @cyan500;
	overflow: hidden;
	position: relative;
	display: inline-block;

	img {
		max-width: 100%;
		max-height: 100%;
		vertical-align: top;
	}

	.user-avatar-initial {
		width: 100%;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		vertical-align: top;
		display: inline-block;
	}
}

.alert {
	margin: 8px 0;
	padding: 16px;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	background-color: @white;
	font-weight: 400;

	&.alert-danger {
		background-color: @red100;
		color: @red900;
	}

	&.alert-warning {
		background-color: @yellow100;
		color: @yellow900;
	}

	&.alert-info {
		background-color: @blue100;
		color: @blue900;
	}
}
