@import 'library';
@import 'colors';
@import 'icons';
@import 'base';
@import 'common';

body {
	background-color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto', sans-serif;
}

#report-login-frame {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;

	#report-login-button {
		background-color: white;
		color: @bluegrey500;
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		height: 40px;
		line-height: 40px;
		border-radius: 2px;
		font-size: 14px;
		padding: 0 16px;

		[data-state="authenticating"]& {
			display: none;
		}
	}

	#report-login-error {
		margin: 0 0 16px 0;
		padding: 4px 16px;
		background-color: @red50;
		color: @red500;
		text-shadow: 0 0 5px fade(@red100, 50%);
		display: none;

		[data-state="error"]& {
			display: block;
		}
	}

	#report-login-authenticating {
		padding: 4px 16px;
		background-color: @blue50;
		color: @blue500;
		text-shadow: 0 0 5px fade(@blue100, 50%);
		display: none;

		[data-state="authenticating"]& {
			display: block;
		}
	}

	p {
		margin: 16px 0;
	}
}

#report-close-button {
	position: fixed;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 32px;
	text-align: center;
	color: white;
	opacity: 0.8;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0);
	transition: opacity .2s, text-shadow .2s;

	&:hover {
		opacity: 1;
		text-shadow: 0 0 4px rgba(255, 255, 255, 1);
	}
}

#report-frame {
	padding: 0 32px;
	margin: 64px 0 32px 0;
}

#report-form {
	background-color: @bluegrey50;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
	padding: 32px;
	max-width: 600px;
	margin: 0 auto;
}

.form-group {
	margin: 24px 0 0 0;

	&:first-child {
		margin: 0;
	}

	label {
		display: block;
		color: @bluegrey700;
	}

	input[type="text"] {
		display: block;
		width: 100%;
		outline: 0;
		border: 0;
		background-color: transparent;
		height: 48px;
		line-height: 48px;
		font-size: 16px;
		color: @bluegrey500;
		border-bottom: 2px solid @bluegrey100;
		padding: 0 4px;
		font-family: 'Roboto', sans-serif;

		&:focus {
			color: @blue700;
			border-bottom-color: @blue500;
		}
	}

	textarea {
		display: block;
		width: 100%;
		border: 0;
		background-color: @bluegrey100;
		outline: 0;
		margin: 8px 0;
		padding: 16px;
		font-size: 16px;
		color: @bluegrey500;
		border-bottom: 2px solid transparent;
		font-family: 'Roboto', sans-serif;
		transition: border-color .2s;

		&:focus {
			color: @blue700;
			border-bottom-color: @blue500;
		}
	}
}

.form-actions {
	.clearfix();

	button {
		position: relative;
		float: right;
		display: inline-block;
		background-color: transparent;
		border: 0;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: @blue500;
		padding: 8px 0;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: @blue500;
			transform: scaleX(0);
			transition: transform .2s;
		}

		&:hover {
			&::after {
				transform: scaleX(1);
			}
		}
	}
}

.form-meta {
	font-size: 12px;
	color: @bluegrey400;

	.underline {
		text-decoration: underline;
	}
}

.report-screenshots {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	.report-screenshot {
		width: 100px;
		height: 100px;
		border-radius: 4px;
		border: 2px solid @bluegrey100;
		margin: 8px;
		position: relative;
		cursor: pointer;
		transition: border-color .2s;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			border-color: @bluegrey300;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}

		.report-screenshot-upload {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			line-height: 100px;
			text-align: center;
			color: white;
			font-size: 24px;
		}

		&.uploaded {
			.report-screenshot-upload {
				display: none;
			}
		}
	}

	#report-screenshot-add {
		border: 2px dotted @bluegrey300;
		background-color: @bluegrey100;
		font-size: 36px;
		text-align: center;
		color: @bluegrey300;
		transition: color .2s;

		&:hover {
			border: 2px dotted @bluegrey700;
			color: @bluegrey700;
		}
	}
}

#report-screenshot-file {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

#drop-file-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: @bluegrey50;
	text-align: center;
	display: none;
	z-index: 1;
	border: 2px dotted @bluegrey500;
	border-radius: 4px;

	.drop-file-message {
		color: @bluegrey500;
		padding: 0 36px;
		display: inline-block;
		font-weight: bold;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		height: 96px;
		line-height: 96px;
	}

	&.active {
		display: block;
	}
}
