@import 'library';
@import 'colors';
@import 'icons';
@import 'base';
@import 'common';

body {
	background-color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto', sans-serif;
	color: @cyan500;
}

#report-login-frame {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;

	#report-login-button {
		background-color: white;
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		height: 40px;
		line-height: 40px;
		border-radius: 2px;
		font-size: 14px;
		padding: 0 16px;

		[data-state="authenticating"]& {
			display: none;
		}
	}

	#report-login-error {
		margin: 0 0 16px 0;
		padding: 4px 16px;
		background-color: @red50;
		color: @red500;
		text-shadow: 0 0 5px fade(@red100, 50%);
		display: none;

		[data-state="error"]& {
			display: block;
		}
	}

	#report-login-authenticating {
		padding: 4px 16px;
		background-color: @cyan50;
		text-shadow: 0 0 5px fade(@cyan100, 50%);
		display: none;

		[data-state="authenticating"]& {
			display: block;
		}
	}

	p {
		margin: 16px 0;
	}
}

#report-close-button {
	position: fixed;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 32px;
	text-align: center;
	color: white;
	opacity: 0.8;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0);
	transition: opacity .2s, text-shadow .2s;

	&:hover {
		opacity: 1;
		text-shadow: 0 0 4px rgba(255, 255, 255, 1);
	}
}

#report-frame {
	position: relative;
	top: 64px;
	margin: 0 auto 32px auto;
	max-width: 604px;
	min-width: 164px;
}

#report-tab-navs {
	display: flex;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	overflow: hidden;

	.report-tab-nav {
		position: relative;
		flex-grow: 1;
		padding: 16px 0;
		font-size: 24px;
		text-align: center;
		background-color: @bluegrey100;
		color: @bluegrey500;
		border-right: 1px solid @bluegrey200;
		border-bottom: 2px solid @bluegrey200;
		transition: color .2s, background-color .2s;

		&:first-child, &:last-child {
			border-right: 0;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 6px;
			background-color: @cyan300;
			transform: scaleX(0);
			transition: transform .2s, background-color .2s;
		}

		&:hover {
			background-color: @bluegrey50;
			color: @cyan500;

			&::before {
				transform: scaleX(1);
			}
		}

		i {
			text-shadow: none;
		}

		p {
			text-transform: uppercase;
			font-size: 12px;
			margin: 4px 0 0 0 ;
		}
	}

	[data-tab="report"] & [data-name="report"],
	[data-tab="inbox"] & [data-name="inbox"] {
		background-color: white;
		color: @cyan500;
		box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
		z-index: 1;
		border-bottom: 0;

		&::before {
			background-color: @cyan500;
			transform: scaleX(1);
		}
	}
}

#report-tab-contents {
	.report-tab-content {
		display: none;
	}

	[data-tab="report"] & [data-name="report"],
	[data-tab="inbox"] & [data-name="inbox"] {
		display: block;
	}
}

#report-form {
	padding: 32px;
	position: relative;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: white;
}

.form-group {
	margin: 12px 0;

	&:first-child {
		margin: 0;
	}

	label {
		display: block;
		color: @cyan700;
		text-transform: uppercase;
		font-size: 14px;
	}

	input[type="text"] {
		display: block;
		width: 100%;
		outline: 0;
		border: 0;
		background-color: transparent;
		height: 48px;
		line-height: 48px;
		font-size: 16px;
		color: @cyan500;
		border-bottom: 2px solid @cyan100;
		padding: 0 4px;
		font-family: 'Roboto', sans-serif;

		&:focus {
			color: @cyan700;
			border-bottom-color: @cyan500;
		}
	}

	textarea {
		display: block;
		width: 100%;
		border: 0;
		background-color: @cyan50;
		outline: 0;
		margin: 8px 0;
		padding: 16px;
		font-size: 16px;
		color: @cyan700;
		border-bottom: 2px solid transparent;
		font-family: 'Roboto', sans-serif;
		transition: border-color .2s, box-shadow .2s;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		border-radius: 2px;

		&:focus {
			color: @cyan900;
			border-bottom-color: @cyan500;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		}
	}
}

.form-submit {
	margin: 24px 0 0 0;
	position: relative;
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	background-color: @cyan700;
	color: @cyan50;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: background-color .2s;

	&:hover {
		background-color: @cyan800;
	}
}

.report-screenshots {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	.report-screenshot {
		width: 100px;
		height: 100px;
		border-radius: 2px;
		border: 2px solid @cyan50;
		margin: 8px 8px 8px 0;
		position: relative;
		cursor: pointer;
		transition: border-color .2s;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		flex-grow: 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

		&:hover {
			border-color: @cyan300;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}

		.report-screenshot-close {
			position: absolute;
			top: -2px;
			right: -2px;
			background-color: @cyan50;
			color: @cyan300;
			font-size: 16px;
			text-align: center;
			width: 24px;
			height: 24px;
			line-height: 22px;
			border-bottom-left-radius: 2px;
			box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
			transition: color .2s, background-color .2s;

			&:hover {
				background-color: @cyan300;
				color: white;
			}
		}
	}

	#report-screenshot-add {
		border: 2px dotted @cyan200;
		background-color: white;
		font-size: 36px;
		text-align: center;
		color: @cyan200;
		transition: color .2s, border-color .2s, background-color .2s;

		&:hover {
			border: 2px dotted @cyan500;
			color: @cyan500;
			background-color: @cyan50;
		}
	}
}

#report-screenshot-file {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

#drop-file-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	display: none;
	z-index: 1;
	border: 2px dotted @cyan500;
	border-radius: 4px;

	.drop-file-message {
		padding: 0 36px;
		display: inline-block;
		font-weight: bold;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		height: 96px;
		line-height: 96px;
	}

	&.active {
		display: block;
	}
}

#report-submitting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: fade(@cyan900, 90%);
	transform: translateX(-100%);
	opacity: 0;
	transition: transform 0s, opacity .2s;
	transition-delay: 1.2s, 1s;

	.submitting & {
		transform: translateX(0);
		opacity: 1;
		transition-delay: 0s, 0s;
	}

	.report-submitting-message {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 48px;
		line-height: 48px;
		text-align: center;
		transform: translateY(-50%);
		font-size: 48px;
		color: white;
		transition: opacity .2s;
		opacity: 0;
	}

	.report-submitting-message-completed {
		opacity: 1;
		transition: opacity .2s;
		transition-delay: .2s;
	}

	.submitting & {
		.report-submitting-message-loading {
			opacity: 1;
		}

		.report-submitting-message-completed {
			opacity: 0;
			transition: opacity 0s;
			transition-delay: 0s;
		}
	}
}

#report-item-filter {
	text-align: center;
	padding: 0 16px 16px 16px;
	background-color: white;

	.report-item-filter-title {
		padding: 16px 0;
		border-bottom: 2px solid @cyan100;
	}

	.report-item-filter-group {
		display: flex;

		&:last-child {
			border-bottom: 2px solid @cyan100;
		}

		.report-item-filter-group-title {
			flex-basis: 128px;
			padding: 0 16px;
			height: 48px;
			line-height: 48px;
			text-transform: uppercase;
			font-size: 14px;
		}

		a {
			flex-grow: 1;
			height: 48px;
			line-height: 48px;
			position: relative;

			&:hover {
				color: @cyan700;
				background-color: @cyan50;
			}

			img {
				max-width: 36px;
				max-height: 36px;
				border-radius: 50%;
				overflow: hidden;
				border: 4px solid @cyan500;
				vertical-align: middle;
			}
		}
	}
}

#report-item-list {

	.report-item {
		padding: 32px 16px;
		background-color: white;

		&:nth-child(odd) {
			background-color: @grey100;
		}

		.report-item-flexrow {
			display: flex;
		}

		.report-item-user-image {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			border: 4px solid @cyan500;
			overflow: hidden;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		.report-item-details {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin: 0 0 0 16px;
			overflow: hidden;
		}

		.report-item-url {
			white-space: pre;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 14px;
		}

		.report-item-date {
			flex-shrink: 0;
			font-size: 14px;
		}

		.report-item-content {
			margin: 16px 0;
			color: @cyan900;
		}

		.report-item-text {
			padding: 0 16px 0 0;
		}

		.report-item-screenshots {
			display: flex;
			flex-wrap: wrap;
			border-left: 2px dotted @cyan100;
			border-radius: 2px;
			max-width: 56px;
			flex-shrink: 0;
		}

		.report-item-screenshot {
			width: 48px;
			height: 48px;
			padding: 4px;
			margin: 0 4px;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				background-color: @cyan100;
				border-color: @cyan300;
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		.report-item-meta {
			height: 32px;
			line-height: 32px;
		}

		.report-item-comments-link {
			flex-grow: 1;
			font-size: 14px;
			text-transform: uppercase;

			i {
				transition: transform .2s;
			}
		}

		.report-item-comment-count {
			&::before {
				content: '(';
			}

			&::after {
				content: ')';
			}
		}

		.report-item-state {
			font-size: 24px;
		}

		.report-item-assignees {
			display: flex;
			margin: 0 32px 0 0;

			&::before {
				font-size: 14px;
				line-height: 32px;
			}

			.report-item-assignee {
			}

			.report-item-assignee-image {
				position: relative;
				margin: 2px 8px 2px 0;
				width: 28px;
				height: 28px;
				border-radius: 4px;
				overflow: hidden;
				border: 3px solid @cyan500;

				&:last-child {
					margin: 2px 4px 2px 0;
				}

				img {
					max-width: 100%;
					max-height: 100%;
					vertical-align: top;
				}

				i {
					display: none;
					background-color: fade(@cyan500, 80%);
					color: white;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					&::before {
						width: 22px;
						line-height: 22px;
						vertical-align: top;
					}
				}

				&:hover {
					i {
						display: block;
					}
				}
			}

			.report-item-assignee-add {
				font-size: 14px;
				width: 28px;
				height: 28px;
				margin: 2px 0;
				text-align: center;
				border-radius: 4px;

				i {
					display: block;

					&::before {
						line-height: 28px;
						vertical-align: top;
					}
				}

				&:hover {
					background-color: @cyan500;
					color: white;
				}
			}
		}

		.report-item-comments {
			max-height: 0;
			overflow: hidden;
			transition: max-height .2s;
		}

		.comment-item-list {
			margin: 8px 0 0 0;
			max-height: 320px;
			overflow-x: hidden;
			overflow-y: auto;
			border-top: 2px solid @cyan500;
		}

		.comment-item {
			display: flex;
			margin: 16px 0;

			.comment-user-image {
				width: 48px;
				height: 48px;
				border-radius: 50%;
				border: 4px solid @green500;
				overflow: hidden;
				flex-shrink: 0;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			.comment-user-text {
				margin: 0 8px;
				max-width: 70%;

				p {
					padding: 8px 16px;
					border-radius: 2px;
					background-color: @green50;
					color: @green700;
				}
			}

			&.comment-owner {
				flex-direction: row-reverse;

				.comment-user-image {
					border-color: @cyan500;
				}

				.comment-user-text {

					p {
						background-color: @cyan50;
						color: @cyan700;
					}
				}
			}
		}

		.comment-reply {
			position: relative;
		}

		.comment-reply-input {
			width: 100%;
			height: 40px;
			line-height: 40px;
			padding: 0 48px 0 4px;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			outline: 0;
			border: 0;
			border-top: 2px solid @cyan500;
			color: @cyan700;
			background-color: transparent;
		}

		.comment-reply-button {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 14px;
			text-align: center;
			width: 64px;
			height: 40px;
			line-height: 40px;
		}

		&.active {
			.report-item-comments-link {
				i {
					transform: rotate(90deg);
				}
			}

			.report-item-comments {
				max-height: 368px;
			}
		}
	}
}
