@import 'library';
@import 'colors';
@import 'icons';
@import 'base';
@import 'common';

@import 'login';
@import 'tab';
@import 'tab-report';
@import 'tab-inbox';
@import 'tab-settings';

.no-project {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.no-project-content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		background-color: @red500;
		color: white;
		line-height: 24px;
		text-align: center;
		padding: 32px 0;
		box-shadow: 0 0 5px @red500;

		p {
			width: 70%;
			margin: 0 auto;
		}
	}
}

#report-close-button {
	position: fixed;
	top: 8px;
	right: 8px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 24px;
	text-align: center;
	color: white;
	transition: color .2s;

	&:hover {
		color: @cyan100;
	}
}
