@import 'library';
@import 'colors';
@import 'icons';
@import 'base';
@import 'common';

@import 'login';
@import 'tab';
@import 'inbox';

body {
	background-color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto', sans-serif;
	color: @cyan500;
}

.container {
	margin: 0 32px;
}

#report-frame {
	position: relative;
	margin: 32px auto;
	/* max-width: 604px; */
	/* min-width: 164px; */
}
